.flight {
    background: $color-primary-darker;
    color: white;
    padding: 3rem;
    border-radius: 5px;

    > div {
        height: 9rem;
    }

    .flight-name {
        font-weight: bold;
        background: $color-primary-darker;
        color: white;
    }

    .flight-status-bar {
        position: relative;
        background: $color-cool-blue-lightest;
        border-radius: 5px;

        > div {
            display: inline-block;
            min-height: 1px;
        }

        .flight-status-journey {
            height: 90%;
        }

        &.flight-status-climbing .flight-status-journey, &.flight-status-landing .flight-status-journey {
            height: 65%;
        }

        &.flight-status-in-flight .flight-status-journey {
            height: 40%;
        }

        .flight-status-journey-done {
            border-top: 1rem solid $color-green-light;
        }

        &.flight-status-climbing .flight-status-icon {
            transform: rotate(-10deg);
        }

        &.flight-status-landing .flight-status-icon {
            transform: rotate(10deg);
        }

        .flight-status-journey-pending {
            border-top: 1rem dashed $color-gold;
        }
    }

    .flight-status-picker {
        text-align: center;
        select {
            display: inline-block;
            background-color: $color-primary-alt-lightest;
        }
    }

    & + .flight {
        margin-top: 3rem;
    }
}
