// This gets US Web Design Standard SCSS.  Its proper include path
// is in the build script of package.json
@import "all";

// This gets the react-select SCSS.  Same story with the include path.
@import "default";

* {
    font-family: $font-sans!important;
}

header {
    background-color: $color-primary-darkest;
    color: white;
    height: 7rem;
    padding: 1rem;

    nav {
        .logo {
            float: left;
            h1 {
                padding: 0 10px 0 0;
                margin: 0;
            }
        }
        ul {
            float: right;
        }
    }
}

@import "./flight.scss";

/*
.flight {
    background-color: $color-base;
    color: white;
    margin-top: 2rem;
    border-radius: 0.5rem;
}

.flight-status {
    background-color: $color-gray-lighter;
    position: relative;
    margin: 10px 0 10px 0;
}

.flight-status-name {
    text-align: center;
    color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.flight-status-progress {
    background-color: $color-primary-alt;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    &.preflight { width: 0; }
    &.climbing { width: 16.67%; }
    &.in-flight { width: 33.33%; }
    &.descent { width: 50%; }
    &.landed { width: 66.67%; }
    &.at-the-gate { width: 83.33%; }
    &.complete { width: 100%; }
}

img.flight-status-icon {
    width: 100px;

    &.preflight, &.complete {
        opacity: 0;
    }

    &.climbing {
        transform: rotate(-20deg);
        margin-left: 16.67%;
    }

    &.in-flight {
        margin-left: 33.33%;
    }

    &.descent {
        transform: rotate(20deg);
        margin-left: 50%;
    }

    &.landed {
        margin-left: 66.67%;
    }

    &.at-the-gate {
        margin-left: 83.33%;
    }
}

.flight-leader {
    font-weight: bold;
}*/
