// This gets US Web Design Standard SCSS.  Its proper include path
// is in the build script of package.json
@import "all";

// Fix for React
input[type="checkbox"], input[type="radio"] {
  left: auto;
  opacity: 0;
}

// This gets the react-select SCSS.  Same story with the include path.
@import "default";

$chip-bg-color: #D6D6D6;
@import "./node_modules/materialize-css/sass/components/chips";

* {
    font-family: $font-sans!important;
}

header {
    background-color: $color-primary-darkest;
    color: white;
    padding: 1rem;

    nav {
        .logo {
            h1 {
                clear: none;
                padding: 0 10px 0 0;
                margin: 0;
                font-size: 2rem;
            }
        }
    }
}

.status-toolbar {
  > div {
    margin-top: 10px;
    > button {
      margin-top: 0;
    }
  }

  .button button {
    background-color: $color-primary !important;
  }
}

.status-list-popover {
  label {
    margin-top: 0;
  }
}

.status-group {
  margin: 1rem;

  .status-group-header {
    background-color: $color-primary;
    * {
      color: white!important;
    }
  }
}

@import './status-card.scss';

@import "./flight-list.scss";
@import "./flight.scss";
@import "./status-step-graph.scss";
